*{
  font-family: 'Noto Sans', sans-serif;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
  
  }
  
  header {
    color: white;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .navbar-logo{
    display: flex;
    justify-content: space-between;
  } 
  
  
  .navbar-logo img {
    
    margin: 1rem;
    width: 160px;
  }
  
  .navbar-icons {
    display: flex;
    justify-content: space-between;
  }
  
  .logout-icon img {
    width: 30px;
    margin: 10px;
  }

.container {
    width: 845.91px;
    height: 827.56px;
    border-radius: 12px;
    border: solid 1px #E0E0E0;
    padding-left: 40px;
    margin: 2% auto;
}

.info h3 {
    font-size: 24px;
    height: 33px;
    font-weight: 400;
    /* letter-spacing: -0.035em; */

}
.info p{
    
font-size: 13px;
font-weight: 500;
line-height: 18px;
letter-spacing: -0.035em;
}

.data label,
.data input {
    display: block;
    margin: 0;
    width: 80%;
    padding-left: 20px;
}

.data label {
    padding: 0;
}

.data input {
    border: solid 1px #828282;
    margin-bottom: 25px;
}

.data input:focus {
    outline: none;
    border: 1px solid #2F80ED;
}

.centrar{
    position: absolute;
    left: 25px;
    top: 23px;
    color: #828282;
    align-items: center;
}

.data button {
    width: 82px;
    height: 38px;
    border-radius: 8px;
    background: #2F80ED;
    color: #FFFFFF;
    border: none;
}

.bio {
    width: 416.93px;
    height: 91.58px;
    border-radius: 12px;
    border: 1px;
}

.email,
.password,
.phone,
.name {
    width: 416.93px;
    height: 52px;
    border-radius: 12px;
    border: 1px
}

.img {
border: solid 1px gray;
    width: 72px;
    height: 72px;
    border-radius: 8px;
    display: inline-block;

}
.fotooo{
    border-radius: 8px;
    height: 72px;
    width: 72px;
}

.img-conte {
    display: flex;
    margin-bottom: 30px;
}

.img-conte p {
    padding-top: 12px;
    margin-left: 20px;
}


.buttonToggle {
    height: 50px;
    width: 165px;
    border: none;
    background-color: white;
    margin-left: 40px;
  }
  
  .dropdown {
    position: relative;
  }
  
  .menuToggle {
    list-style: none;
    width: 188px;
    height: 174px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    margin-top: 15px;
    display: none;
    position: absolute;
    padding-left: 0%;
  }
  
  .show {
    display: block;
  }
  
  .limenu {
    width: 164.12px;
    height: 39.15px;
    font-size: 12px;
    margin-top: 15px;
    margin-left: 42px;
  }
  
  .icons {
    width: 20px;
    height: 20px;
    color: rgb(59, 59, 59);
  }
  
  .textOptions {
    color: black;
    margin-left: 15px;
    position: absolute;
    text-decoration: none;
    top: 7px;
  }
  
  .proof {
  /*   top: 10px;
   */  position: relative;
  }

  /* MODO NOCHE */
body {
    transition: background-color 0.5s;
    margin: 0;
    padding: 0;
}
.modo-noche {
    background-color: #2a2a2a; 
    color: #ffffff; 
}

.modo-noche .pri{
    color: #ffffff; 
}
.modo-noche .buttonToggle{
    background-color: #2a2a2a; 
  }
  

.boton-flotante {
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2D9CDB; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 5px rgb(122, 122, 122);
}

.boton-flotante:hover {
    background-color: #2980b9; 
}

.changeTittle{
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.subirFoto{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
.containerF{
    position: relative;
    align-items: center;
    display: flex;
    align-items: center;

}
.textFoto{
    margin-left: 20px;
    font-size: 13px;
    font-weight: 500;
}

.back{
    display: flex;
    
    justify-content: center;
}
.Backback{
    display: flex;
    width: 845.91px;
    margin-top: 30px;
    text-decoration: none;
}