/* *{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.contain{
    width: 845.91px;
    height: 580.54px;
    border: solid 1px #E0E0E0;
    border-radius: 12px;
    margin: 0 auto; 
    position: relative;
}
.contain ul{
    padding: 0;
}
.contain li{
    list-style: none;
    height: 82px;
    width: 845.38px;
    border:solid 1px #E0E0E0;
    border-top: none;
    border-left: none;
    border-right: none; 
    position: relative;
}
.C_profile3 {
    list-style: none;
    height: 82px;
    width: 845.38px;
    border:solid 1px #E0E0E0;
    border-top: none;
    border-left: none;
    border-right: none;
}

li{ 
    
    padding-top: 31px;
    color: #BDBDBD;
    padding-left: 60px;
}
li p{
    padding-left: 150px; ;
    color: black;
}
.contain h2{
    width: 69px;
    height: 33px;
    font-size: 24px;
}
.contain .l{
    width: 463.25px;
    height: 19.79px;
    font-size: 13px;
    color: #828282;
}

.refer {
    font-size: 14px;
    height: 19px;
    color: #828282;
    display: flex;
    margin: 5px auto;
    width: 845.91px;
    justify-content: space-between;
    margin-bottom: 3%;
} */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;

}

header {
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar-logo{
  display: flex;
  justify-content: space-between;
} 


.navbar-logo img {
  
  margin: 1rem;
  width: 160px;
}

.navbar-icons {
  display: flex;
  justify-content: space-between;
}

.logout-icon img {
  width: 30px;
  margin: 10px;
}

section {
  text-align: center;
}

.personal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.personal h1 {
  margin-bottom: 20px;
  font-size: 36px;
}

.login-box {
  background-color: #fff;
  border-radius: 12px;
  border: #d3d3d3;
  padding: 30px 0px;
  padding-bottom: 40px;
  text-align: center;
  width: 845.91px;
  height: 580.54px;
  border: solid 1px #E0E0E0;
}

.profile {
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e0e0e0;
}

.profile>div {
  flex-direction: column;
}

.profile>div>h1 {
  margin: 0px 215px 0px 0px;
  font-size: 24px;
  padding-bottom: 8px;
}

.profile>div>p {
  margin: 0px 53px 0px 0px;
  font-size: 13px;
  color: #828282;
}

.profile>a {
  border: 1px gray solid;
  padding: 10px 30px;
  border-radius: 15px;
  margin: 12px;
  text-decoration: none;
  color: #828282;
}

.profile_info {
  height: 41px;
  border-bottom: 1px solid #e0e0e0;
  color: #BDBDBD;
  display: flex;
  padding: 21px 30px;

}

.profile_info .prue {
  color: #333333;
  font-size: 18px;
  position: absolute;
  margin: 15px 180px;
}

.profile_info>div {
  flex-direction: column;
}

.pl {
  color: #828282;
  font-size: 14px;

}

.out_main {
  display: flex;
  justify-content: space-between;
}

.profile_pic {
  border-bottom: 1px solid #e0e0e0;
  display: flex;

  padding: 16px 30px;
  color: #BDBDBD;
}

.profile_pic .prue {
  color: #333333;
  font-size: 18px;
  position: absolute;
  margin: 15px 180px;
}

/* .pruee{
  
  margin-left: 120px;
  border: solid 1px grey;
  height: 60px;
  width: 60px;
  border-radius: 10px;
} */

.last {
  height: auto;
  color: #BDBDBD;
  display: flex;
  padding: 20px 30px;
}

.last .prue {
  color: #333333;
  font-size: 18px;
  position: absolute;
  margin: 15px 180px;
}

/*///////////////////////////*/


.buttonToggle {
  height: 50px;
  width: 165px;
  border: none;
  background-color: white;
  margin-left: 40px;
  display: flex;
    align-items: center;
}

.dropdown span{
  text-decoration: none;
  
}

.menuToggle {
  list-style: none;
  width: 188px;
  height: 174px;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  margin-top: 15px;
  display: none;
  position: absolute;
  padding-left: 0%;
  margin-left: 50px;
}

.show {
  display: block;
}

.limenu {
  width: 140px;
  height: 39.15px;
  font-size: 12px;
  margin-top: 15px;
  margin-left: 30px;
}

.icons {
  width: 20px;
  height: 20px;
  color: rgb(59, 59, 59);
}

.textOptions {
  color: black;
  margin-left: 15px;
  position: absolute;
  text-decoration: none;
  top: 7px;
}
.fotooo{
  border: 1px solid grey;
  border-radius: 6px;
  height: 30px;

}

.proof {
/*   top: 10px;
 */  position: relative;
}
.image{
  border: solid 1px grey;
  border-radius: 8px;
   margin-left: 120px; 
  height: 68px;
  width: 68px;
}
#ocultar{
  border: none;
}
#ocultar:focus{
  outline: none;
}
/* MODO NOCHE */
body {
  transition: background-color 0.5s;
  margin: 0;
  padding: 0;
}
.modo-noche {
  background-color: #2a2a2a; 
  color: #ffffff; 
}

.modo-noche .pri{
  color: #ffffff; 
}

.modo-noche .login-box{
  background-color: #333333; 
}
.modo-noche .prue{
  color: #ffffff; 
}
.modo-noche #ocultar{
  background-color: #333333; 
}
.modo-noche .buttonToggle{
  background-color: #2a2a2a; 
}

.boton-flotante {
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #2D9CDB; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 5px 5px rgb(122, 122, 122);
}

.boton-flotante:hover {
  background-color: #2980b9; 
}
