.logout-button {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  .logout-button:hover {
    color: darkred;
  }
  
  .fa-sign-out-alt {
    margin-right: 5px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    color: darkgray;
  }

  /* MODO NOCHE */
body {
  transition: background-color 0.5s;
  margin: 0;
  padding: 0;
}
.modo-noche {
  background-color: #2a2a2a; 
  color: #ffffff; 
}

.modo-noche .pri{
  color: #ffffff; 
}

.boton-flotante {
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #2D9CDB; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 5px 5px rgb(122, 122, 122);
}

.boton-flotante:hover {
  background-color: #2980b9; 
}